.grid_8
  .grid_8.alpha.omega
    #case-show
      .case-show
        .field
          .label Case Number
          .text=  @case['CaseNumber']
          .clear
        .field
          .label Type
          .text= @case['Type']
          .clear
        .field
          .label Reason
          .text= @case['Reason']
          .clear
        .field
          .label Status 
          .textl= @case['Status']
          .clear
        .field
          .label Subject 
          .text= @case['Subject']
          .clear
        .field
          .label Description 
          .text= @case['Description']
          .clear
      .case-comments
        = "Your case has %s comments" % @comments.count if @comments.count > 0
        #comments
          - @comments.each do |comment|
            .comments
              .label
                = "%s said:" % "XYZ"
              .comment
                = comment['CommentBody']
              .clear
        .add-comment
          = form_tag('/comments', :remote => true, :method => 'post', :id => 'comment_form')
          %span Add a new comment
          %input{:type => :hidden, :name => 'comment[case_id]', :value => @case['Id']}
          %textarea{:name => 'comment[description]',:cols => 22, :rows => 4}
          .submit
            %input.btn-w{:type => 'submit', :value => 'create'}
            .clear


        

  .clear
