.grid_8
  .grid_8.alpha.omega
    .full_posts
      .case-show
        .field
          %label Case Number
          %label=  @case['CaseNumber']
        .field
          %label Type
          %label= @case['Type']
        .field
          %label Reason
          %label= @case['Reason']
        .field
          %label Status 
          %label= @case['Status']
        .field
          %label Subject 
          %label= @case['Subject']
        .field
          %label Description 
          %label= @case['Description']
      .case-comments
        - @comments.each do |comment|
          .comment
            %span
              = "%s said:" % "toto"
            %span
              = comment['CommentBody']

  .clear
