.grid_16
  .grid_4.alpha.omega
    = render 'shared/box_new_case'
  .grid_4.alpha.omega
    = render 'shared/box_my_cases'
  .grid_4.alpha.omega
    = render 'shared/box_ideas'
  .clear


.grid_16
  .grid_4.alpha.omega
    = render 'shared/box_videos'
  .grid_4.alpha.omega
    = render 'shared/box_events'
  .grid_4.alpha.omega
    = render 'shared/box_feeds'
  .clear


.grid_16
  .grid_4.alpha.omega
    = render 'shared/box_status'
  .grid_4.alpha.omega
    = render 'shared/box_live_chat'
  .grid_4.alpha.omega
    = render 'shared/box'
  .clear


