.grid_12
  #column1.column
    .grid_4#item1.dragbox
      .dragbox-content
        = render 'shared/box_new_case'
    .grid_4#item2.dragbox
      .dragbox-content
        = render 'shared/box_feeds'
    .grid_4#item3.dragbox
      .dragbox-content
        = render 'shared/box_status'
  #column2.column
    .grid_4#item4.dragbox
      .dragbox-content
        = render 'shared/box_my_cases'
    .grid_4#item5.dragbox
      .dragbox-content
        = render 'shared/box_videos'
    .grid_4#item6.dragbox
      .dragbox-content
        = render 'shared/box_events'
  #column3.column
    .grid_4#item7.dragbox
      .dragbox-content
        = render 'shared/box_ideas'
    .grid_4#item8.dragbox
      .dragbox-content
        = render 'shared/box_live_chat'
    .grid_4#item9.dragbox
      .dragbox-content
        = render 'shared/box'
