.grid_16
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .clear


.grid_16
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .clear


.grid_16
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .grid_4.alpha.omega
    = render 'shared/box'
  .clear


