!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title EmailVision Customer Portal
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    = stylesheet_link_tag    "/assets/style.css"
    = javascript_include_tag "application"
    /[if IE 6]
      <link rel="stylesheet" href="css/ie.css" />
  %body
    = render 'shared/header'
    #the_body
      .container_12
        = yield
        = yield :sidebar
      / container_12
    / the_body
    = render 'shared/footer'
