!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title EmailVision Customer Portal
    %script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type => "text/javascript"}
    = stylesheet_link_tag    "style"
    = javascript_include_tag "/assets/superfish.js"
    = javascript_include_tag "/assets/jquery.coda-slider-2.0.js"
    = javascript_include_tag "/assets/jquery.easing.1.3.js"
    = javascript_include_tag "/assets/jquery.easing.1.3.js"
    = javascript_include_tag "/assets/jquery.poshytip.min.js"
    = javascript_include_tag "/assets/jquery-ui-1.8.5.custom.min.js"
    = javascript_include_tag "/assets/custom.js"
    /[if IE 6]
      <link rel="stylesheet" href="css/ie.css" />
  %body
    = render 'shared/header'
    #the_body
      .container_12
        .grid_8
          = render 'shared/slider'
          .grid_8.alpha.omega
            .post_columns
              %h4
                %span Latest Posts
              .column
                .image
                  %a{:href => "#"}
                    %img{:alt => "post column pic", :src => "/assets/post_column_pic.jpg"}/
                %h3
                  %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                .date
                  August 4 2010,
                  %a{:href => "#"} 8 Comments
                .excerpt
                  %p
                    Lorem ipsum ex vix illud nonummy, novum tation et his.
                    At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
                    sed et vivendo ali...
                / excerpt
              / column
              .column
                .image
                  %a{:href => "#"}
                    %img{:alt => "post column pic", :src => "/assets/post_column_pic.jpg"}/
                %h3
                  %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                .date
                  August 4 2010,
                  %a{:href => "#"} 8 Comments
                .excerpt
                  %p
                    Lorem ipsum ex vix illud nonummy, novum tation et his.
                    At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
                    sed et vivendo ali...
                / excerpt
              / column
              .column.last
                .image
                  %a{:href => "#"}
                    %img{:alt => "post column pic", :src => "/assets/post_column_pic.jpg"}/
                %h3
                  %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                .date
                  August 4 2010,
                  %a{:href => "#"} 8 Comments
                .excerpt
                  %p
                    Lorem ipsum ex vix illud nonummy, novum tation et his.
                    At vix scripta patrioque scribentur, at pro fugit verterem molestiae,
                    sed et vivendo ali...
                / excerpt
              / column
              .clear
            / post_columns
          / grid_8 alpha omega
          .grid_8.alpha.omega
            .grid_4.alpha
              .category_list
                %h4
                  %span
                    %a{:href => "#"} My recent cases
                %ul
                  %li
                    .image
                      %a{:href => "#"}
                        %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
                    / image
                    .details
                      %h5
                        %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                      %span.date
                        August 4 2010,
                        %a{:href => "#"} 8 Comments
                    / details
                  %li.last
                    .image
                      %a{:href => "#"}
                        %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
                    / image
                    .details
                      %h5
                        %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                      %span.date
                        August 4 2010,
                        %a{:href => "#"} 2 Comments
                    / details
              / category_list
            / grid_4
            .grid_4.omega
              .category_list
                %h4
                  %span
                    %a{:href => "#"} My recent ideas
                %ul
                  %li
                    .image
                      %a{:href => "#"}
                        %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
                    / image
                    .details
                      %h5
                        %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                      %span.date
                        August 4 2010,
                        %a{:href => "#"} 5 points
                    / details
                  %li.last
                    .image
                      %a{:href => "#"}
                        %img{:alt => "category pic", :src => "/assets/category_pic.jpg"}/
                    / image
                    .details
                      %h5
                        %a{:href => "#"} Fly Fishers Serving as Transports for Noxious Little Invaders
                      %span.date
                        August 4 2010,
                        %a{:href => "#"} 2 points
                    / details
              / category_list
            / grid_4
          / grid_8 alpha omega
        / grid_8
        .grid_4
          = render 'shared/sidebar'
        / grid_4
        .clear
      / container_12
    / the_body
    = render 'shared/footer'
